body{
  width: 90%
  max-width: 200px;
  margin: auto;
  background: url(tutu.jpg); center;

  font-family: sans-serif;
  line-height: 1.5
  color: black;
}

main{ background: #00000042;
  padding: 15px 40px;
      margin: 40px;

      border-radius: 20px;

}

.titulo,.titulo2,.texto{
text-align: center;
margin: 0;
}

.titulo,.titulo2,.texto{
line-height: 1.5;
}

.Bibliografia{
  text-align: right;
}

.imagem{text-align: center;}

.Bibliografia2{
margin: 30px 0;
text-align: center;
width: 100%;
}
